.header {
  width: auto;
  height: 110px;
  background-color: #ab000d;
  display: flex;
  justify-content: center;
  .__area {
    width: 730px;
    height: 145px;
    // background-color: rgb(227, 235, 161);
    display: flex;
    justify-content: space-between;
  }
  .--left {
  }
  .__title {
    a {
      font-size: 80px;
      font-family: Phosphate;
      margin-left: 20px;
      text-decoration: none;
      color: #fafafa;
    }
  }
  .--right {
    margin-top: auto;
    margin-bottom: 13px;
    
  }
  .__menuicon {
    margin-right: 8px;
    a {
      text-decoration: none;
    }
    .iconImg {
      width: 27px;
      height: 27px;
      margin: 0px 13px 35px;
    }
  }
}