.main {
  display: flex;
  justify-content: center;
  .center {
    width: 730px;
    height: 100vw;
    // background-color: rgb(170, 235, 178);
  }
  .__block {
    // height: 410px;
    // background-color: rgb(209, 233, 255);
    border: 1px solid black;
    margin: 40px 20px;
    .topline {
      height: 30px;
      background-color: rgb(189, 186, 186);
      display: flex;
      align-items: center;
      .text {
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        padding-top: 5px;
        width: 200px;
        height: 25px;
        background-color: cornflowerblue;
        margin-left: 25px;
      }
    }
    .team {
      height: 84px;
      background-color: burlywood;
      font-size: 35px;
      font-family: Arial;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      .name_a {
        width: 100vw;
        height: 46px;
        background-color:  blanchedalmond;
        text-align: end;
      }
      .vs {
        margin: 0px 18px;

      }
      .name_b {
        width: 100vw;
        height: 46px;
        background-color:  blanchedalmond;
      }
    }
    .score {
      height: 84px;
      background-color:rgb(189, 186, 186);
      display: flex;
      justify-content: center;
      align-items: center;
      .__a {
        font-family: 凸版文久見出しゴシック;
        font-size: 75px;
        margin-right: 35px;
        text-align: end;
      }
      .__b {
        font-family: 凸版文久見出しゴシック;
        font-size: 75px;
        margin-left: 35px;
      }
    }
    .body {
      height: 182px;
      // background-color: burlywood;
      padding: 25px;
      font-family: Arial;
      font-size: 14px;
      .dataline {
        height: 20px;
        margin-bottom: 12px;
        font-weight: bold;
        background-color: blanchedalmond;
        display: flex;
        .day {

        }
        .how {
          margin: 0px 20px;

        }
        .location {

        }
      }
      .report {
        height: 150px;
        background-color: blanchedalmond;
      }
    }
    .underline {
      height: 30px;
      background-color:rgb(189, 186, 186);
      .text {
        font-family: Arial;
        font-size: 14px;
        padding-top: 5px;
        text-align: end;
        margin-right: 25px;
        background-color: chartreuse;

      }
    }
  }
}