$block-color:#fff59d;

.main {
  display: flex;
  justify-content: center;
  .center {
    width: 730px;
    height: 100vw;
  }
  .__block {
    border: 1px solid #616161;
    margin: 30px 20px;
    .topline {
      height: 30px;
      background-color: $block-color;
      display: flex;
      align-items: center;
      .text {
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        padding-top: 5px;
        width: 200px;
        height: 25px;
        margin-left: 25px;
      }
    }
    .team {
      height: 84px;
      font-size: 35px;
      font-family: Arial;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      .name_a {
        width: 100vw;
        height: 46px;
        text-align: end;
      }
      .vs {
        margin: 0px 18px;

      }
      .name_b {
        width: 100vw;
        height: 46px;
      }
    }
    .score {
      height: 84px;
      background-color:$block-color;
      display: flex;
      justify-content: center;
      align-items: center;
      .__a {
        font-family: 凸版文久見出しゴシック;
        font-size: 75px;
        margin-right: 35px;
        text-align: end;
      }
      .__b {
        font-family: 凸版文久見出しゴシック;
        font-size: 75px;
        margin-left: 35px;
      }
    }
    .body {
      padding: 25px;
      font-family: Arial;
      font-size: 14px;
      .dataline {
        height: 20px;
        margin-bottom: 12px;
        font-weight: bold;
        display: flex;
        .day {

        }
        .how {
          margin: 0px 20px;

        }
        .location {

        }
      }
      .report {
        height: 120px;
      }
    }
    .underline {
      height: 30px;
      background-color:$block-color;
      .text {
        font-family: Arial;
        font-size: 14px;
        padding-top: 7px;
        text-align: end;
        margin-right: 30px;
        a {
        text-decoration: none;
        color: black;
        }
      }
    }
  }
}