.header
  .__area
    .--left
      .__title
        Rug_Log
    .--right
      .__menuicon
        = image_tag "newpen_icon.png"
        = image_tag "signout_icon.png"
        = image_tag "mypage_icon.png"