.main
  .__center

    .--block
      .topline
        .text  大学ラグビー
      .team
        .name_a 明治大学
        .vs vs
        .name_b 天理大学
        
      .score
        .__a 15
        .__b 36
      .body
        .dataline
        .report
      .underline

    -# .--block