.main
  .__center

    .--block
      .topline
        .text  大学ラグビー
      .team
        .name_a 明治大学
        .vs vs
        .name_b 天理大学
        
      .score
      .body
        .dataline
        .report
      .underline

    -# .--block