.main
  .__center

    .--block
      .topline
        .text  大学ラグビー
      .team
        .name_a 明治大学
        .vs vs
        .name_b 天理大学
        
      .score
        .__a 15
        .__b 36
      .body
        .dataline
          .day 2020年1月2日
          .how 中継
          .location 秩父宮（東京）
        .report
      .underline

    -# .--block