.newLog
  .top
    .title NEW_LOG
  .main
    .formarea
      .text カテゴリー
      .form 大学ラグビー
    .formarea
      .text2 対戦カード
      .aaa
        .form 帝京大学
        .vs vs
        .form 明治大学
      .text2 スコア
      .aaa
        .form 帝京大学
        .vs vs
        .form 明治大学
      .text 試合日
      
      
      
      
  
